.content-wrapper{
    background-color: white;
}

#search-box{
    position: relative;
    top: 20px;
    left:2.5%;
}

#input-box{
    position: relative;
    left:2%;
}

#button-ned{
    position: relative;
    top: 10px;
}

#table-box{
    position: relative;
    top: 20px;
}

td
{
    text-align:center;
}

#page-text{
    position: relative;
    top: 20px;
}

#page-button{
    float: right;
    position: relative;
    top: -20px;
}