.content-wrapper{
    background-color: white;
}

#search-box{
    position: relative;
    top: 20px;
    left:2.5%;
}

#button-ned{
    position: relative;
    left:-2%;
}

#table-box{
    position: relative;
    top: 10px;
}

td
{
    text-align:center;
}