<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isp.dao.LicenseDao">

    <resultMap id="LicenseBaseMap" type="com.isp.entity.License">
        <id column="id" property="id" jdbcType="NUMERIC"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="date" property="date" jdbcType="DATE"/>
        <association property="schoole" javaType="com.isp.entity.School">
            <result column="schoolname" property="name"></result>
        </association>
        <association property="infoType" javaType="com.isp.entity.InfoType">
            <result column="infoTypename" property="name"></result>
        </association>
    </resultMap>

    <select id="getLicenseAll" resultType="com.isp.entity.License">
        SELECT * FROM license;
    </select>

    <select id="getLicenseByPage" parameterType="java.lang.String" resultMap="LicenseBaseMap">
        SELECT license.id, content, date, school.name as schoolname,
        info_type.name as infoTypename from license, school, info_type
        WHERE school_id = school.id and kind = info_type.id ORDER BY license.id limit ${start}, ${end}
    </select>

    <select id="getTotalNumber" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM license
    </select>

    <select id="getLicenseByName" parameterType="java.lang.String" resultMap="LicenseBaseMap">
        SELECT license.id, content, date, school.name as schoolname,
        info_type.name as infoTypename from license, school, info_type
        WHERE school_id = school.id and kind = info_type.id and school.name = '${name}'
    </select>

    <select id="getLicenseById" parameterType="java.lang.Integer" resultType="com.isp.entity.License">
        SELECT * FROM license WHERE id = ${id}
    </select>

    <insert id="insertLicense" parameterType="java.lang.String">
        INSERT INTO license (school_id, kind, content) VALUE (${school_id}, ${kind}, '${content}')
    </insert>

    <update id="updateLicense" parameterType="java.lang.Integer">
        UPDATE license SET school_id = ${school_id}, kind = ${kind}, content = '${content}' WHERE id = ${id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM license WHERE id = ${id}
    </delete>
</mapper>