<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isp.dao.NoticeDao">

    <resultMap id="BaseMap" type="com.isp.entity.Notice">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="publisher" property="publisher" jdbcType="VARCHAR" />
        <result column="date" property="date" jdbcType="TIMESTAMP" />
        <result column="isClassInfo" property="isClassInfo" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, title, content, publisher, date, isClassInfo
    </sql>

    <select id="getNoticeNumber" resultType="Integer">
        SELECT
        COUNT(id) AS totle
        FROM notice
    </select>

    <select id="getNoticeById" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM notice
        WHERE id = ${noticeId}
        ORDER BY id DESC
    </select>

    <select id="getNoticeByPage" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM notice
        ORDER BY id DESC
        LIMIT ${(page-1)*5},10
    </select>

</mapper>