<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isp.dao.NoticeDao">

    <resultMap id="BaseMap" type="com.isp.entity.Notice">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="publisher" property="publisher" jdbcType="VARCHAR" />
        <result column="date" property="date" jdbcType="TIMESTAMP" />
        <result column="isClassInfo" property="isClassInfo" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, title, content, publisher, date, isClassInfo
    </sql>

    <select id="getNoticeAll" resultType="com.isp.entity.Notice">
        SELECT * FROM notice;
    </select>

    <select id="getNoticeByPage1" parameterType="java.lang.String" resultType="com.isp.entity.Notice">
        SELECT * FROM notice ORDER BY id limit ${start}, ${end}
    </select>

    <select id="getTotalNumber" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM notice
    </select>

    <select id="getNoticeByName" parameterType="java.lang.String" resultType="com.isp.entity.Notice">
        SELECT * FROM notice WHERE title = '${name}'
    </select>

    <select id="getNoticeById1" parameterType="java.lang.Integer" resultType="com.isp.entity.Notice">
        SELECT * FROM notice WHERE id = ${id}
    </select>

    <select id="getNoticeGroupByMonth" parameterType="java.lang.Integer" resultType="com.isp.entity.NoticeGroupByConcer">
        select count(id) as number, MONTH(date) as month from notice
        WHERE YEAR(date) = ${year} AND isClassInfo = 1
        GROUP BY MONTH(date)
    </select>

    <insert id="insertNotice" parameterType="java.lang.String">
        INSERT INTO notice (title, content, publisher, isClassInfo) VALUE ('${title}', '${content}', '${publisher}',
        ${isClassInfo})
    </insert>

    <update id="updateNotice" parameterType="java.lang.Integer">
        UPDATE notice SET title = '${title}', content = '${content}', publisher = '${publisher}',
        isClassInfo = ${isClassInfo} WHERE id = ${id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM notice WHERE id = ${id}
    </delete>

    <select id="getNoticeNumber" resultType="Integer">
        SELECT
        COUNT(id) AS totle
        FROM notice
    </select>

    <select id="getNoticeById" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM notice
        WHERE id = ${noticeId}
        ORDER BY id DESC
    </select>

    <select id="getNoticeByPage" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM notice
        ORDER BY id DESC
        LIMIT ${(page-1)*5},10
    </select>
</mapper>
