<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isp.dao.SubjectDao">

    <select id="getSubjectAll" parameterType="java.lang.String" resultType="com.isp.entity.Subject">
        SELECT * FROM subject
    </select>

    <select id="getSubjectByPage" parameterType="java.lang.String" resultType="com.isp.entity.Subject">
        SELECT * FROM subject ORDER BY id limit ${start}, ${end}
    </select>

    <select id="getTotalNumber" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM subject
    </select>

    <select id="getSubjectByName" parameterType="java.lang.String" resultType="com.isp.entity.Subject">
        SELECT * FROM subject WHERE name = '${name}'
    </select>

    <select id="getSubjectById" parameterType="java.lang.Integer" resultType="com.isp.entity.Subject">
        SELECT * FROM subject WHERE id = ${id}
    </select>

    <insert id="insertSubject" parameterType="java.lang.String">
        INSERT INTO subject (name) VALUE ('${name}')
    </insert>

    <update id="updateSubject" parameterType="java.lang.Integer">
        UPDATE subject SET name = '${name}' WHERE id = ${id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM subject WHERE id = ${id}
    </delete>
</mapper>